#? PROGRAMARIA 04-2024 -> SITE RESPONSIVO

#? Arquivos:
anotacoes_diversas.md


#? Pastas:
10_anotacoes_diversas
01_projeto_inicial
02_media_queries
03_objetos_variaveis_funcoes
04_for_in
05_DOM_e_InnerHTML

#? Ambiente Virtual?